<h3 class="mb-4">GESTIÓN DE SERVICIOS</h3>
<p class="text-muted">Lista de Servicios</p>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
</div>

<div *ngIf="!errorMessage">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vehículo</th>  <th>Cliente</th>  <th>Fecha de Servicio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let servicio of servicios">
                <td>{{ servicio.id }}</td>
                <td>{{ servicio.vehiculo?.marca }} / {{ servicio.vehiculo?.modelo }}</td> 
                <td>{{ servicio.usuario?.nombre_usuario }}</td> 
                <td>{{ servicio.fecha_servicio | date:'dd/MM/yyyy h:mm a' }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="servicios.length === 0" class="alert alert-warning">
        No se encontraron servicios registrados.
    </div>
</div>